* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

:root {
  --backgrond: #000;
  --text-color: #fff;
  --button: #8257e5;
  --border: #29292e;
  --border-menu-mobile: #a8a8b3;
  --text-color-menu-mobile: #e1e1e6;
}

body.active {
  background: var(--backgrond);
}

body,
html {
  width: 100vw;
  height: 100%;
  background: var(--backgrond) url(./assets/blur-mobile.png) no-repeat bottom
    fixed;
  overflow-x: hidden;
}

header {
  border-bottom: var(--border) 1px solid;
}

header .logoMobile {
  background: url(./assets/logo-mobile.svg) no-repeat center;
}

header .logoDesktop {
  display: none;
}

#headerContent {
  display: flex;
  justify-content: space-between;
  margin: 30px 20px 26px;
}

#menuButton {
  background: url("./assets/menu-buguer-open.svg") center no-repeat;
  border: none;
  width: 48px;
  height: 48px;
}

#menuButton.active {
  background: url("./assets/menu-buguer-close.svg") center no-repeat;
  transition: 0.3s;
}

#buttonDesktop {
  display: none;
}

body ul {
  display: none;
  list-style: none;
}

body ul.active {
  display: block;
  -webkit-animation: fade-in 1s;
  animation: fade-in 1s;
}

.menuItem {
  list-style: none;
  border-top: var(--border) 1px solid;
}

.menuLink {
  padding: 18px 0px 14px 30px;
  display: block;
  color: var(--border-menu-mobile);
  font-weight: 400;
  text-decoration: none;
}

.menuLink.active {
  border-left: 5px var(--button) solid;
  color: var(--text-color-menu-mobile);
  font-weight: 700;
}

#pageContent {
  display: block;
  opacity: 1;
  -webkit-animation: fade-in 1s;
  animation: fade-in 1s;
}

#pageContent.active {
  opacity: 0;
  -webkit-animation: fade-out 0s;
  animation: fade-out 0s;
}

#slogamText {
  margin: 88px 28px;
  font-style: normal;
  color: var(--text-color);
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.02em;
}

#buyButton {
  display: flex;
  align-items: center;
  margin: 88px auto 98px;
  padding: 10px 30px;
  border: 1px solid var(--button);
  border-radius: 6px;
  background-color: transparent;
  color: var(--text-color);
}

#buyButton p {
  font-size: 11px;
  letter-spacing: 0.02em;
  line-height: 15px;
  font-weight: 700;
}

#buyButton img {
  padding-left: 10px;
}

#supportText {
  margin: 0px 40px;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: -0.03em;
  line-height: 58px;
  text-align: center;
}

#support1 {
  color: var(--text-color);
}

#support2 {
  text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button),
    -1px 1px 0 var(--button), 1px 1px 0 var(--button);
}

#coffeeImage {
  display: block;
  justify-content: center;
  width: 428px;
  margin: 25px auto 0px;
}

#coffeeImage img {
  width: 100vw;
  height: 100%;
  object-position: bottom;
  object-fit: contain;
}

/* Animations */
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Media */
@media (max-width: 393px) {
  #supportText {
    font-size: 40px;
  }
}

@media (min-width: 394px) and (max-width: 428px) {
  #supportText {
    font-size: 48px;
  }

  #pageContent {
    display: block;
    position: relative;
  }

  #coffeeImage {
    display: flex;
    justify-content: center;
    width: 428px;
    position: fixed;
    bottom: 0px;
  }
}

@media (min-width: 540px) and (max-width: 766px) {
  body,
  html {
    background-color: var(--backgrond);
    background-image: url(./assets/blur-2.png), url(./assets/blur-1.png);
    background-position: right top, left bottom;
    background-repeat: no-repeat;
  }

  #pageContent {
    display: block;
  }

  #coffeeImage {
    display: flex;
    justify-content: center;
    width: 540px;
  }
}

@media (min-width: 767px) and (max-width: 899px) {
  body,
  html {
    background-color: var(--backgrond);
    background-image: url(./assets/blur-2.png), url(./assets/blur-1.png);
    background-position: right top, left bottom;
    background-repeat: no-repeat;
  }

  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
  }

  body ul {
    display: inline;
  }

  header button {
    display: none;
  }

  .menuItem {
    border: none;
    display: inline;
    list-style: none;
  }

  .menuLink {
    padding: 15px;
    display: inline;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
  }

  .menuLink.active {
    font-weight: 700;
    border-left: none;
  }

  #pageContent {
    display: block;
    position: relative;
  }

  #buyButton {
    display: flex;
    align-items: center;
    margin: 88px auto 70px;
    width: 250px;
    height: 50px;
  }

  #buyButton p {
    font-size: 18px;
    letter-spacing: 0.02em;
    line-height: 15px;
    font-weight: 700;
  }

  #buyButton img {
    padding-left: 10px;
  }

  #supportText {
    font-size: 80px;
    line-height: 100px;
    letter-spacing: -0.03em;
  }

  #coffeeImage {
    display: flex;
    justify-content: center;
    width: 820px;
    position: fixed;
    bottom: 0px;
  }

  #coffeeImage img {
    width: 100vw;
    height: 100%;
    object-position: bottom;
    object-fit: contain;
  }
}

@media (min-width: 900px) {
  body,
  html {
    background-color: var(--backgrond);
    background-image: url(./assets/blur-2.png), url(./assets/blur-1.png);
    background-position: right top, left bottom;
    background-repeat: no-repeat;
  }

  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    margin: 20px auto;
  }

  header #menuButton {
    display: none;
  }

  header .logoDesktop {
    display: flex;
  }

  .logoMobile {
    display: none;
  }

  #buttonDesktop {
    display: flex;
    align-items: center;
    padding: 11px 38px;
    border: 1px solid var(--button);
    border-radius: 6px;
    background-color: transparent;
    color: var(--text-color);
  }

  #buttonDesktop p {
    font-size: 11px;
    letter-spacing: 0.02em;
    line-height: 15px;
    font-weight: 700;
  }

  body #buyButton {
    display: none;
  }

  body ul {
    display: inline;
  }

  .menuItem {
    border: none;
    display: inline;
    list-style: none;
  }

  .menuLink {
    padding: 15px;
    display: inline;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
  }

  .menuLink.active {
    font-weight: 700;
    border-left: none;
  }

  #slogamText {
    display: none;
  }

  #supportText {
    text-align: center;
    font-size: 80px;
    line-height: 109px;
    letter-spacing: -0.03em;
    margin: 20px auto;
  }

  #pageContent {
    position: relative;
  }

  #coffeeImage {
    position: fixed;
    margin-left: -32%;
    bottom: 0px;
    left: 50%;
    width: 65%;
    height: 55%;
  }

  #coffeeImage img {
    width: 100%;
    height: 100%;
    object-position: bottom;
    object-fit: contain;
  }
}
