* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

:root {
  --backgrond: #000;
  --text-color: #fff;
  --button: #8257e5;
  --border: #29292e;
  --border-menu-mobile: #a8a8b3;
  --text-color-menu-mobile: #e1e1e6;
}

body.active {
  background: black;
}

body {
  width: 100vw;
  height: 100%;
  background: black url(./assets/blur-mobile.png) no-repeat bottom fixed;
}

header {
  border-bottom: var(--border) 1px solid;
}

#headerContent {
  display: flex;
  justify-content: space-between;
  margin: 30px 20px 26px;
}

header button {
  background: url("./assets/menu-buguer-open.svg") center no-repeat;
  border: none;
  width: 48px;
  height: 48px;
}

body ul {
  display: none;
  list-style: none;
}

body ul.active {
  display: block;
  -webkit-animation: fade-in 1s;
  animation: fade-in 1s;
}

header button.active {
  background: url("./assets/menu-buguer-close.svg") center no-repeat;
  transition: 0.3s;
}

.menuItem {
  list-style: none;
  border-top: var(--border) 1px solid;
}

.menuLink {
  padding: 18px 0px 14px 30px;
  display: block;
  color: var(--border-menu-mobile);
  font-weight: 400;
  text-decoration: none;
}

.menuLink.active {
  border-left: 5px var(--button) solid;
  color: var(--text-color-menu-mobile);
  font-weight: 700;
}

#pageContent {
  display: block;
  opacity: 1;
  -webkit-animation: fade-in 1s;
  animation: fade-in 1s;
}

#pageContent.active {
  opacity: 0;
  -webkit-animation: fade-out 0s;
  animation: fade-out 0s;
}

#slogamText {
  margin: 88px 28px;
  font-style: normal;
  color: var(--text-color);
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.02em;
}

#buyButton {
  display: flex;
  align-items: center;
  margin: 88px auto 98px;
  padding: 10px 30px;
  border: 1px solid var(--button);
  border-radius: 6px;
  background-color: transparent;
  color: var(--text-color);
}

#buyButton p {
  font-size: 11px;
  letter-spacing: 0.02em;
  line-height: 15px;
  font-weight: 700;
}

#buyButton img {
  padding-left: 10px;
}

#supportText {
  margin: 0px 40px;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: -0.03em;
  line-height: 58px;
  text-align: center;
}

#support1 {
  color: var(--text-color);
}

#support2 {
  text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button),
    -1px 1px 0 var(--button), 1px 1px 0 var(--button);
}

#coffeeImage {
  display: flex;
  justify-content: center;
  width: 420px;
  height: auto;
  margin: 25px auto 0px;
}

#coffeeImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Animations */
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
